debug = true

[ldap]
  enabled = true
  listen = "localhost:3893"

[ldaps]
	enabled = false

[backend]
  datastore = "config"
  baseDN = "dc=glauth,dc=com"

###############################################################################
# Groups which a user belongs to
###############################################################################

[[groups]]
  name = "users"
  unixid = 5501

[[groups]]
  name = "admin"
  unixid = 5502

[[groups]]
  name = "team_payments"
  unixid = 5503

[[groups]]
  name = "developers"
  unixid = 5504

###############################################################################
# The users section contains a hardcoded list of valid users.
#   to create a passSHA256:   echo -n "mysecret" | openssl dgst -sha256
###############################################################################

[[users]]
  name = "joang"
  unixid = 5001
  primarygroup = 5501
  otherGroups = [5502]
  # password = password
  passsha256 = "5e884898da28047151d0e56f8dc6292773603d0d6aabbdd62a11ef721d1542d8"
  givenname = "Joan"
  sn = "Gates"

[[users]]
  name = "ritav"
  unixid = 5001
  primarygroup = 5501
  otherGroups = [5502]
  # password = password
  passsha256 = "5e884898da28047151d0e56f8dc6292773603d0d6aabbdd62a11ef721d1542d8"
  givenname = "Rita"
  sn = "Voff"
  